!!! 5

firstname    = "Roman"
lastname     = "Le Négrate"
nickname     = "Roman2K"
title        = `${firstname} ${lastname} (${nickname})`
description  = "Personal website of ${firstname} ${lastname}"
px           = 127
avatar       = "https://avatars.githubusercontent.com/u/2480?v=4"
nostr_pubkey = "npub1e7thdfacjevjpuas4r5m0hz9xy5a5efcunyn68les9aw3f6gll3sk72dxk"

html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf8")
    meta(property="og:site_name", content=title)
    meta(property="og:title", content=description)
    meta(name="description", content=description)
    meta(name="og:description", content=description)
    title= title
    link(rel="stylesheet", type="text/css", href="index.css")
    link(rel="canonical", href="https://romanlenegrate.net")
    link(rel="shortcut icon", href=avatar)
  body
    section
      header
        a(href=avatar)
          img(src=avatar, width=px, height=px, style="width: " + px + "px; height: " + px + "px")
        h1
          a(href="/")
            = firstname
            br
            = lastname
        h2= nickname
      nav
        ul
          li
            a(href="https://www.linkedin.com/in/romanlenegrate/") LinkedIn
          li
            a(href="https://github.com/Roman2K/") GitHub
          li
            a(href="https://x.com/Roman2K__") X (Twitter)
          li
            a(href="https://twitter.com/TxDotTown") X (Twitter) for Tx.Town
          li
            span!= nostr_pubkey.split('').map(function(c) { return '&#' + c.charCodeAt(0) + ';' }).join('')

    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42211575-1', 'auto');
      ga('send', 'pageview');
